{% extends "template.html" %} {% block conteudo %}
<div class="container-fluid m-0 p-0">
    <div class="row">
        <div class="col-md-12 col-lg-9">
            <div class="row">
              <div class="container-fluid bg-secondary text-white">
                  <span><i class="bi bi-graph-up"></i></span>
                  <span>Ações</span>
                  <span class="badge bg-secondary position-relative end-0">
                      <button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#abrir"><i class="bi bi-plus-circle-dotted"></i></button>
                      <button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#fechar"><i class="bi bi-dash-circle-dotted"></i></button>
                  </span>
              </div>
            </div>
            <div class="row">
                <div class = "container-fluid">
                    <nav>
                      <div class="nav nav-tabs" id="nav-tab" role="tablist">
                          {% for key in portfolio_details %}
                          {% set key_formated = key.replace(' ','') %}
                          {% if loop.index == 1 %}
                        <a class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" href="#{{ key_formated }}" role="tab" aria-controls="nav-home" aria-selected="false">{{ key }}</a>
                          {% else %}
                        <a class="nav-link" id="nav-home-tab" data-bs-toggle="tab" href="#{{ key_formated }}" role="tab" aria-controls="nav-home" aria-selected="false">{{ key }}</a>
                          {% endif %}
                          {% endfor %}
                      </div>
                    </nav>
                </div>
                <div class="container overflow-scroll" style="max-height:75vh">
                    <div class="tab-content" id="nav-tabContent">
                        {% for key in portfolio_details %}
                        {% set key_formated = key.replace(' ','') %}
                        {% if loop.index == 1%}
                        <div class="tab-pane fade show active" id="{{ key_formated }}" role="tabpanel" aria-labelledby="nav-home-tab">
                        {% else %}
                        <div class="tab-pane fade" id="{{ key_formated }}" role="tabpanel" aria-labelledby="nav-home-tab">
                        {% endif %}
                            <table class="table table-striped table-sm table-rows mt-1">
                                <thead>
                                    <tr>
                                        <th class="text-center"></th>
                                        <th class="text-center">Nome</th>
                                        <th class="text-center">Quantidade</th>
                                        <th class="text-center">Preço Médio</th>
                                        <th class="text-center">Preço Atual</th>
                                        <th class="text-center">Variação</th>
                                        <th class="text-center">Total Investido</th>
                                        <th class="text-center">Total Atual</th>
                                        <th class="text-center">Resultado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for row in portfolio_details[key] %}
                                    <tr>
                                        {% if row['Variation'] >= 0 %}
                                        <td>
                                            <button class="btn btn-success btn-sm w-100" data-bs-toggle="modal" data-bs-target="#_{{ row['Stock'] }}" value="{{ row['Stock'] }}">{{ row['Stock'] }}</button>
                                        </td>
                                        {% else %}
                                        <td>
                                            <button class="btn btn-danger btn-sm w-100" data-bs-toggle="modal" data-bs-target="#_{{ row['Stock'] }}" value="{{ row['Stock'] }}">{{ row['Stock'] }}</button>
                                        </td>
                                        {% endif %}
                                        <td class="text-center align-middle"> {{ row['Name'] }}</td>
                                        <td class="text-center align-middle"> {{ row['Quantity'] }}</td>
                                        <td class="text-center align-middle"> {{ row['Mean price'] }}</td>
                                        <td class="text-center align-middle"> {{ row['Current price'] }}</td>
                                        {% if row['Variation'] >= 0 %}
                                        <td class="text-center align-middle text-success"> {{ row['Variation'] }}</td>
                                        {% else %}
                                        <td class="text-center align-middle text-danger"> {{ row['Variation'] }}</td>
                                        {% endif %}
                                        <td class="text-center align-middle"> {{ row['Total invested'] }}</td>
                                        <td class="text-center align-middle"> {{ row['Current total'] }}</td>
                                        {% if row['Result'] >= 0 %}
                                        <td class="text-center align-middle text-success"> {{ row['Result'] }}</td>
                                        {% else %}
                                        <td class="text-center align-middle text-danger"> {{ row['Result'] }}</td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-3">
            <div class="row">
                <div class="container-fluid bg-secondary text-white">
                    <span><i class="bi bi-wallet"></i></span>
                    <span>Carteiras</span>
                    <span class="badge bg-secondary position-relative end-0">
                        <button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#abrir"><i class="bi bi-plus-circle-dotted"></i></button>
                        <button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#fechar"><i class="bi bi-dash-circle-dotted"></i></button>
                    </span>
                </div>
            </div>
            <div class ="row">
                <div class="accordion accordion-flush" id="accordionFlush">
                    {% for key in portfolio_details %}
                    {% set key_formated = key.replace(' ','') %}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne-{{key_formated}} ">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne-{{key_formated}}" aria-expanded="false" aria-controls="flush-collapseOne">
                            {{ key }}
                          </button>
                        </h2>
                        <div id="flush-collapseOne-{{key_formated}}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlush">
                          <div class="accordion-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Quantidade de ações <span class="badge bg-secondary position-absolute end-0 me-2 w-25">{{ portfolio_totals[key]['Quantity'] }} ações</span></li>
                                <li class="list-group-item">Total investido <span class="badge bg-secondary position-absolute end-0 me-2 w-25">{{ portfolio_totals[key]['Total invested'] }} reais</span></li>
                                <li class="list-group-item">Total atual <span class="badge bg-secondary position-absolute end-0 me-2 w-25">{{ portfolio_totals[key]['Current total'] }} reais</span></li>
                                {% if portfolio_totals[key]['Current total'] - portfolio_totals[key]['Total invested'] >= 0 %}
                                <li class="list-group-item">Resultado <span class="badge bg-success position-absolute end-0 me-2 w-25">{{ (portfolio_totals[key]['Current total'] - portfolio_totals[key]['Total invested']) | round(precision=2)  }} reais</span></li>
                                {% else %}
                                <li class="list-group-item">Resultado <span class="badge bg-danger position-absolute end-0 me-2 w-25">{{ (portfolio_totals[key]['Current total'] - portfolio_totals[key]['Total invested']) | round(precision=2) }} reais</span></li>
                                {% endif %}
                            </ul>
                          </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}