{% extends "template.html" %} {% block conteudo %}
<div class="container-fluid m-0 p-0">
    <div class="row">
        <div class="col-md-12 col-lg-9">
            <div class="row">
              <div class="container-fluid bg-secondary text-white">
                  <span><i class="bi bi-graph-up"></i></span>
                  <span>Ações</span>
                  <span class="badge bg-secondary position-relative end-0">
                      <button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#ModalAddStock"><i class="bi bi-plus-circle-dotted"></i></button>
                  </span>
              </div>
            </div>
            <div class="row">
                <div class = "container-fluid">
                    <nav>
                      <div class="nav nav-tabs" id="nav-tab" role="tablist">
                          {% for key in open_stocks_dict %}
                          {% set key_formated = key.replace(' ','') %}
                          {% if loop.index == 1 %}
                        <a class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" href="#{{ key_formated }}" role="tab" aria-controls="nav-home" aria-selected="false">{{ key }}</a>
                          {% else %}
                        <a class="nav-link" id="nav-home-tab" data-bs-toggle="tab" href="#{{ key_formated }}" role="tab" aria-controls="nav-home" aria-selected="false">{{ key }}</a>
                          {% endif %}
                          {% endfor %}
                      </div>
                    </nav>
                </div>
                <div class="container overflow-scroll" style="max-height:75vh">
                    <div class="tab-content" id="nav-tabContent">
                        {% for key in stocks %}
                        {% set key_formated = key.replace(' ','') %}
                        {% if loop.index == 1%}
                        <div class="tab-pane fade show active" id="{{ key_formated }}" role="tabpanel" aria-labelledby="nav-home-tab">
                        {% else %}
                        <div class="tab-pane fade" id="{{ key_formated }}" role="tabpanel" aria-labelledby="nav-home-tab">
                        {% endif %}
                            <table class="table table-striped table-sm table-rows mt-1">
                                <thead>
                                    <tr>
                                        <th class="text-center"></th>
                                        <th class="text-center">Quantidade</th>
                                        <th class="text-center">Data de compra</th>
                                        <th class="text-center">Preço de compra</th>
                                        <th class="text-center">Data de venda</th>
                                        <th class="text-center">Preço de venda</th>
                                        <th class="text-center">Resultado</th>
                                        <th class="text-center">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for row in stocks[key] %}
                                    <tr>
                                        {% if row['Status'] == 'Open' %}
                                        <td>
                                            <button class="btn btn-primary btn-sm w-100" data-bs-toggle="modal" data-bs-target="#_{{ row['Stock'] }}" value="{{ row['Stock'] }}">{{ row['Stock'] }}</button>
                                        </td>
                                        {% else %}
                                        <td>
                                            <button class="btn btn-dark btn-sm w-100" data-bs-toggle="modal" data-bs-target="#_{{ row['Stock'] }}" value="{{ row['Stock'] }}">{{ row['Stock'] }}</button>
                                        </td>
                                        {% endif %}
                                        <td class="text-center align-middle"> {{ row['Quantity'] }}</td>
                                        <td class="text-center align-middle"> {{ row['Date'] }}</td>
                                        <td class="text-center align-middle"> {{ row['Price'] }}</td>
                                        <td class="text-center align-middle"> {{ row['Sold date'] }}</td>
                                        <td class="text-center align-middle"> {{ row['Sold price'] }}</td>
                                        {% if row['Result'] >= 0 %}
                                            <td class="text-center align-middle text-success"> {{ row['Result'] }}</td>
                                        {% else %}
                                            <td class="text-center align-middle text-danger"> {{ row['Result'] }}</td>
                                        {% endif %}
                                        <td class="text-center align-middle"> {{ row['Status'] }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-3">
            <div class="row">
                <div class="container-fluid bg-secondary text-white">
                    <span><i class="bi bi-wallet"></i></span>
                    <span>Carteiras</span>
                    <span class="badge bg-secondary position-relative end-0">
                        <button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#abrir"><i class="bi bi-plus-circle-dotted"></i></button>
                        <button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#fechar"><i class="bi bi-dash-circle-dotted"></i></button>
                    </span>
                </div>
            </div>
            <div class ="row">
                <div class="accordion accordion-flush" id="accordionFlush">
                    {% for key in portfolio_details %}
                    {% set key_formated = key.replace(' ','') %}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne-{{key_formated}} ">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne-{{key_formated}}" aria-expanded="false" aria-controls="flush-collapseOne">
                            {{ key }}
                          </button>
                        </h2>
                        <div id="flush-collapseOne-{{key_formated}}" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlush">
                          <div class="accordion-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Quantidade de ações <span class="badge bg-secondary position-absolute end-0 me-2 w-25">{{ portfolio_totals[key]['Quantity'] }} ações</span></li>
                                <li class="list-group-item">Total investido <span class="badge bg-secondary position-absolute end-0 me-2 w-25">{{ portfolio_totals[key]['Total invested']| round(precision=2) }} reais</span></li>
                                <li class="list-group-item">Total atual <span class="badge bg-secondary position-absolute end-0 me-2 w-25">{{ portfolio_totals[key]['Current total'] | round(precision=2) }} reais</span></li>
                                {% if portfolio_totals[key]['Current total'] - portfolio_totals[key]['Total invested'] >= 0 %}
                                <li class="list-group-item">Resultado <span class="badge bg-success position-absolute end-0 me-2 w-25">{{ (portfolio_totals[key]['Current total'] - portfolio_totals[key]['Total invested']) | round(precision=2)  }} reais</span></li>
                                {% else %}
                                <li class="list-group-item">Resultado <span class="badge bg-danger position-absolute end-0 me-2 w-25">{{ (portfolio_totals[key]['Current total'] - portfolio_totals[key]['Total invested']) | round(precision=2) }} reais</span></li>
                                {% endif %}
                            </ul>
                          </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- Modal -->
<div class="modal-dialog">
    <div class="modal fade" id="ModalAddStock" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header bg-light">
            <h5 class="modal-title" id="exampleModalLabel">Adicionar ações</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <div class="card mb-2">
                  <div class="card-body">
                    <form method="POST" action="{{ url_for('add_stocks') }}">
                        <h5 class="card-title">Editar</h5>
                        <p class="m-0"><label class="gerenciar-label">sigla</label> <input class="form-control form-control-sm" type="text" name="stock" required></p>
                        <p class="m-0"><label class="gerenciar-label">quantidade</label> <input class="form-control form-control-sm" type="text" name="quantity" required></p>
                        <p class="m-0"><label class="gerenciar-label">preço da compra</label> <input class="form-control form-control-sm" type="text" name="price" required></p>
                        <p class="m-0"><label class="gerenciar-label">data da compra</label> <input class="form-control form-control-sm" type="text" name="date" required></p>
                        <p class="m-0 mb-3"><label class="gerenciar-label">carteira</label> <input class="form-control form-control-sm" type="text" name="portfolio" required></p>
                        <button type="submit" class="btn btn-primary">Adicionar</button>
                    </form>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}